includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - src
        - tests

    # max is the highest level
    level: max

    # Larstan recommendation:
    checkMissingIterableValueType: false


    # Ignore generic class MyCLabs\Enum\Enum
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
            # Magic method is used is simulate enum
            - '#Call to an undefined static method#'
            #-
            -
                message: '#PHPDoc tag @method has invalid value#'
                path: src\Direction.php
            -
                message: '#Constant Lift\\Direction\:\:UP is unused.#'
                path: src\Direction.php
            -
                message: '#Constant Lift\\Direction\:\:DOWN is unused.#'
                path: src\Direction.php
    # buggy

    # mixed

    # cache buggy

    # tests
        # Starter code which needs to be implmented
            -
                message: '#Unreachable statement - code above always terminates#'
                path: tests\LiftSystemTest.php

    # iterable
